html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #004067;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


.table thead th {
  background-color: #004067;
  color: #fff;
  font-size: 0.8rem;
}
.table td{
  font-size: 0.8rem;
}

/* post.module.css */
.customRadio {
  position: relative;
  cursor: pointer;
  padding-left: 35px; /* Space for the custom checkbox appearance */
  margin-bottom: 12px;
}

.customRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
}

.customRadio input:checked ~ .checkmark {
  background-color: #2196F3; /* Color when the radio input is checked */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.customRadio input:checked ~ .checkmark:after {
  display: block;
}

.customRadio .checkmark:after {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 5px;
  border: 2px solid white; /* Pseudo-element for the checkmark inside the custom checkbox */
  border-top: none;
  border-right: none;
  transform: translate(-50%, -50%) rotate(-45deg); /* Rotate the checkmark to create a tick (√) */
}

/* Additional styles for the checked state */
// .customRadio input:checked ~ .checkmark {
//   box-shadow: 0 0 0 3px white, 0 0 0 5px #2196F3; /* Add a border around the checked checkbox */
// }
